header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  background-color: white;
}

div {
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  color: MediumAquamarine;
  background-color: white;
}

.nav {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.nav span {
  display:inline-block;
}

.column-large {
  width: 630px;
}

.column-medium {
  width: 300px;
}

.column-small {
  width: 240px;
}

.content {
  display: flex;
}
